<div class="flex flex-col flex-auto min-w-0 bg-white">  
    
    <div class="encabezado">
        <!-- NAVBAR -->
        <div class="Landing">
            <div class="Nav">
                <img src="../assets/images/logo.PNG" class="Landing_lognavbar" alt="">
                <button mat-button>Feature</button>  
                <button mat-button>Pricing</button>
                <button mat-button>Carrers</button>
                <button mat-button>Ayuda</button>
            </div> 
            <div>
                <button mat-raised-button color="primary">Inicia sesión</button>
                <button mat-stroked-button> Registrate</button>
            </div>  
        </div>
        
        <!-- CONTENIDO -->

        <div class="grid sm:grid-cols-2 gap-6 w-full  padding-5">

            <div class="sm:col-span-1 Landing_marginInfo">
                <h2 class="Landing_H2">
                    The easiest way to manage projects
                </h2>
                <p>
                    From the small stuff to the big picture, organizes the work so teams know what to do, 
                    why it matters, and how to get it done.
                </p>
                <br>
                <div>
                    <button mat-raised-button color="primary">Get Stared</button>
                    <button mat-button> Wacth Video</button>
                </div>  
            </div>


            <div class="sm:col-span-1 Landing_marginImage">
                <img src="../assets/images/celular-landing.png" alt=""> 
            </div>
        </div> 
    </div>

    <div class="centrar">
        <p class="Landing_Ptitulo">
            Tailor-made features
        </p>
        <p>
            Lorem ipsum is common placeholder text used to demonstrate the graphic elements of a document or visual presentation.
        </p>
        <div class="grilla">
            <div>
                <img src="../assets/images/logoG1.PNG" alt=""> 
                <p class="Landing_pGrilla">
                    Robust workflow
                </p>
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, itaque inventore .
            </div>
            <div>
                <img src="../assets/images/logoG2.PNG" alt=""> 
                <p class="Landing_pGrilla">
                    Flexibility
                </p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, itaque inventore .
            </div>
            <div>
                <img src="../assets/images/logoG3.PNG" alt=""> 
                <p class="Landing_pGrilla">
                    User friendly
                </p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, itaque inventore .
            </div>
            <div>
                <img src="../assets/images/logoG4.PNG" alt=""> 
                <p class="Landing_pGrilla">
                    Multiple layouts
                </p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, itaque inventore .
            </div>
            <div>
                 <img src="../assets/images/logoG5.PNG" alt=""> 
                <p class="Landing_pGrilla">
                    Better components
                </p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, itaque inventore .
            </div>
            <div>
                 <img src="../assets/images/logoG6.PNG" alt=""> 
                <p class="Landing_pGrilla">
                    Well organised
                </p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, itaque inventore .
            </div>
            
        </div>
    </div>

    <div class="grilla3 ">

        <div class="Landing_marginInfo2">
            <p class="Landing_H2">
                Our 18 years of achievements
            </p> 
            <p>
                With our super powers we have reached this
            </p>
        </div>

    
        <div class="Sub_grilla">
            <div class="Sub_grilla2"> 
                <img src="../assets/images/logoG1.PNG" alt=""> 
                <div>
                    <p class="Landing_pGrilla"> 10,000 +   </p>  
                    Download per day
                </div>  
            </div>
        
            <div class="Sub_grilla2"> 
                <img src="../assets/images/logoG4.PNG" alt=""> 
                <div>
                    <p class="Landing_pGrilla"> 2 Millions </p>
                    Users
                </div> 
            </div>  
            <div class="Sub_grilla2"> 
                <img src="../assets/images/logoG1.PNG" alt=""> 
                <div>
                    <p class="Landing_pGrilla"> 500 +   </p>  
                    Clients
                </div>  
            </div>
        
            <div class="Sub_grilla2"> 
                <img src="../assets/images/logoG4.PNG" alt=""> 
                <div>
                    <p class="Landing_pGrilla"> 140 </p>
                    Countries
                </div> 
            </div> 
        </div>
         
    </div>

            <!-- Footer -->

       

   
</div>
